body{
    margin: 0;
}

ul {
    list-style:none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

li {
    float: left;
}


#globalheader{
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    background-color: grey;
}

#globalnav{
    justify-content: center;
    display: flex;

}

#globalnav .globalnav-content{
    /*padding-left: max(22px,env(safe-area-inset-left));*/
    /*padding-right: max(22px,env(safe-area-inset-right));*/
    max-width: 1024px;
    width: 100%;
    height: 44px;




}

#globlanav .globalnav-list {
    cursor: default;


    

    
}



#globalnav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.globalnav-item{

    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.globalnav-item-menu{



}


.globalnav-item-store{
    cursor: pointer;
}

.globalnav-item-store:hover .drawer-container{

    background-color: lightsalmon;
    position: absolute;
    top: 45px;
    left: 0;
    width: 101vw;
    height: 50vh;
    animation-duration: 0.8s;
    animation-iteration-count:1;
    animation-name: dropdown;
    visibility: visible;
    margin: -2px;
    opacity: 0.9;
}

@keyframes dropdown {
    from{
        top: -100px;
        opacity: 0;
    }
    to{
        top: 45px;

    }

}

.drawer-container{
    width: 0;
    height: 0;
    visibility: hidden;
}

.applePayPage{
    height: 100%;
    width: 100%;

    cursor: pointer;
}

.applePayPage .applePayLink{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    text-decoration-line: none;
}

.applePayPage .applePayLink .payTextContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;

}

#payTitle{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -18px;
    color: #000;
}

#payContents{
    font-size: 27px;
    color: #000;
}

#iphoneImg{
    width: 400px;
    position: absolute;
    bottom: -430px;
}


