body{
    margin: 0;
}

ul {
    list-style:none;
}

#globalheader{
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    background-color: grey;
}

#globalnav{
    justify-content: center;
    display: flex;
    
}

#globlanav .globalnav-list {
    cursor: default;
    /*margin: 0 -9px;*/
    width: auto;
    height: 44px;
    display: flex;
    
    width: 998px;
    
}

#globalnav .globalnav-content{
    /*padding-left: max(22px,env(safe-area-inset-left));*/
    /*padding-right: max(22px,env(safe-area-inset-right));*/
    max-width: 1024px;
    width: 100%;
    height: 44px;
    box-sizing: border-box; 
    background-color: aqua;
    
}

#globalnav-list {
    display: flex;
    justify-content: space-between;

    background-color:darkgoldenrod;
}

.triggered-container{
    display: none;
}

.globalnav-item:hover .triggered-container{
    display: block;
    position: absolute;
    background-color: red;
    width: 100%;
    
}


.globalnav-item-store{
    cursor: pointer;
}

.globalnav-item-store:hover .drawer-container{

    background-color: red;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50vh;
    transition: all 1s;
    visibility: visible;
}

.drawer-container{
    height: 0;
    visibility: hidden;
}

